.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}

.ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}

.view-id-patrons_list .view-content .views-row {
    height: auto;
    margin: 0;
    font-family: "Oswald", Arial, sans-serif;
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row {
        height: 170px;
        margin-bottom: 0;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row {
        height: 190px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row {
        height: 225px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row {
        height: 190px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row {
        height: 225px;
    }
}

.view-id-patrons_list .view-content .views-row .sponsorimage {
    width: 100%;
    height: auto;
    padding: 0;
}

.view-id-patrons_list .view-content .views-row .sponsorimage img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.view-id-patrons_list .view-content .views-row .sponsorlevel {
    font-size: 1.4em;
    text-align: center;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 0 3%;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row.verywiderect .sponsorimage {
        width: 94%;
        height: 100px;
        padding: 0 3%;
        line-height: 75px;
        margin: 0;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verywiderect .sponsorimage {
        width: 94%;
        height: 145px;
        padding: 0 3%;
        line-height: 105px;
        margin: 0;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row.verywiderect .sponsorimage {
        height: 110px;
        line-height: 100px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verywiderect .sponsorimage {
        height: 145px;
        line-height: 135px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row.verywiderect .sponsorimage {
        line-height: 110px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verywiderect .sponsorimage {
        line-height: 145px;
    }
}

.view-id-patrons_list .view-content .views-row.widerect .sponsorimage {
    width: 70%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row.widerect .sponsorimage {
        width: 78%;
        height: 100px;
        padding: 0 11%;
        line-height: 75px;
        margin: 0 auto;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.widerect .sponsorimage {
        width: 78%;
        height: 145px;
        padding: 0 11%;
        line-height: 105px;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row.widerect .sponsorimage {
        height: 110px;
        line-height: 100px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.widerect .sponsorimage {
        height: 145px;
        line-height: 135px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row.widerect .sponsorimage {
        line-height: 110px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.widerect .sponsorimage {
        line-height: 145px;
    }
}

.view-id-patrons_list .view-content .views-row.square .sponsorimage {
    width: 50%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row.square .sponsorimage {
        width: 60%;
        height: 100px;
        padding: 0 5%;
        line-height: 75px;
        margin: 0 auto;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.square .sponsorimage {
        width: 60%;
        height: 145px;
        padding: 0 5%;
        line-height: 105px;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row.square .sponsorimage {
        height: 110px;
        line-height: 100px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.square .sponsorimage {
        height: 145px;
        line-height: 135px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row.square .sponsorimage {
        line-height: 110px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.square .sponsorimage {
        line-height: 145px;
    }
}

.view-id-patrons_list .view-content .views-row.verylongrect .sponsorimage {
    width: 30%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row.verylongrect .sponsorimage {
        width: 60%;
        height: 100px;
        padding: 0 20%;
        line-height: 75px;
        margin: 0 auto;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verylongrect .sponsorimage {
        width: 60%;
        height: 145px;
        padding: 0 20%;
        line-height: 105px;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row.verylongrect .sponsorimage {
        height: 110px;
        line-height: 100px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verylongrect .sponsorimage {
        height: 145px;
        line-height: 135px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row.verylongrect .sponsorimage {
        line-height: 110px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.verylongrect .sponsorimage {
        line-height: 145px;
    }
}

.view-id-patrons_list .view-content .views-row.longrect .sponsorimage {
    width: 40%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .view-id-patrons_list .view-content .views-row.longrect .sponsorimage {
        width: 50%;
        height: 100px;
        padding: 0 10%;
        line-height: 75px;
        margin: 0 auto;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.longrect .sponsorimage {
        width: 50%;
        height: 145px;
        padding: 0 10%;
        line-height: 105px;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .view-id-patrons_list .view-content .views-row.longrect .sponsorimage {
        height: 110px;
        line-height: 100px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.longrect .sponsorimage {
        height: 145px;
        line-height: 135px;
    }
}

@media screen and (min-width:1200px) {
    .view-id-patrons_list .view-content .views-row.longrect .sponsorimage {
        line-height: 110px;
    }

    .view-id-patrons_list.patronthree .view-content .views-row.longrect .sponsorimage {
        line-height: 145px;
    }
}

.view-id-patrons_list.view-display-id-page_1 .view-content h3 {
    font-family: "Oswald", Arial, sans-serif;
}

.view-id-patrons_list.view-display-id-page_1 .view-content .views-row {
    height: auto;
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #666666;
    clear: both;
}

#jquery-ui-filter-dialog {
    display: none;
    overflow: hidden;
    padding: 2px !important;
}

#jquery-ui-filter-dialog-container {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

body.bartik.jquery-ui-filter-dialog #header div.section,
body.bartik.jquery-ui-filter-dialog #featured div.section,
body.bartik.jquery-ui-filter-dialog #messages div.section,
body.bartik.jquery-ui-filter-dialog #page-wrapper,
body.bartik.jquery-ui-filter-dialog #main,
body.bartik.jquery-ui-filter-dialog #triptych,
body.bartik.jquery-ui-filter-dialog #footer-columns,
body.bartik.jquery-ui-filter-dialog #footer {
    min-width: inherit;
    min-height: inherit;
    width: inherit;
}

body.bartik.jquery-ui-filter-dialog #main {
    margin-bottom: 0;
    margin-top: 0;
}

body.bartik.jquery-ui-filter-dialog-no-regions #footer-wrapper {
    display: none;
}